body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    width: 60%;
    background: white;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
}

h1 {
    color: #2c3e50;
}

h2 {
    color: #2980b9;
}

button {
    padding: 10px 15px;
    background-color: #2980b9;
    color: white;
    border: none;
    cursor: pointer;
}
